:root {
  --mdc-theme-primary: #6200ee;
  --mdc-theme-secondary: #018786;
  --mdc-theme-background: #fff;
} 


.spacer {
    display: grid;
    margin-top: 1em;
}

.mdc-dialog__content {
    font-family: Roboto, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1.5rem;
    line-height: 2.5rem;
}


.mdc-dialog__title {
   font-family: Roboto, sans-serif;
   font-size: 1.4rem;
   font-weight: bold;
}

.mdc-button {
  font-size: 1.3rem;
}